.editor {
    margin: 4.25rem auto;
    position: relative;

    &__heading {
        margin: auto;
        position: absolute;
        font-size: 37.45px;
        left: 50%;
        color: $veryDarkBlue;
        transform: translateX(-50%);
        top: 4.65rem;
        letter-spacing: -1px;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        flex: 1;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        &__wrapper {
            width: 31.25rem;
            margin-right: 86px;

            &:first-child {
                    margin-top: 22px;
            }

            &:last-child {
                h2 {
                    margin-top: 54px;
                }
            }

            h2 {
                font-size: 26.5px;
                color: $veryDarkBlue;
            }

            p {
                line-height: 1.75;
                font-size: 15px;
                font-weight: 400;
                font-family: $overpass;
                letter-spacing: 0.35px;
                color: $veryDarkGrayishBlue;
            }
        }
    }

    &__image {
        flex: 0.82;

        img {
            width: 142%;
        }
    }
}