.header {
    height: 35.1rem;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom, #ff8f70, #ff3d54);
    border-bottom-left-radius: 92px;

    &__bg {
        left: -34rem;
        position: absolute;
        top: -73rem;
        width: 171rem;
    }

    nav {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 54px 0 54px 10px;
        max-width: 66rem;
        position: relative;
    }

    &__logo {
        flex: 0.15;

        img {
            width: 94px;
        }
    }

    &__links {
        flex: 0.9;

        .list-item {
            list-style-type: none;
            display: inline-block;
            position: relative;

            &:not(:last-child) {
                margin-right: 26px;
            }

            &:hover {
                >a {
                    text-decoration: underline;
                }

                img {
                    transform: rotate(180deg);
                }

                .dropdown {
                    max-height: 18.75rem;
                }
            }

            .dropdown {
                list-style: none;
                padding: 0 2.0625rem;
                position: absolute;
                background-color: #fff;
                border-radius: 0.5rem;
                max-height: 0;
                left: -1rem;
                top: 2rem;
                z-index: 3;
                box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);
                transition: max-height 0.3s ease;
                width: 11.25rem;
                overflow: hidden;

                li {
                    margin-top: 1.75rem;
                    margin-bottom: 1.75rem;

                    a {
                        color: $veryDarkBlackBlue;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        a {
            color: $white;
            font-size: 14px;
            letter-spacing: 0.75px;
            text-shadow: 0 0 0.5px $white;

            img {
                margin-left: 3px;
                transition: all 300ms ease-in-out;
            }
        }
    }

    &__btns {
        flex: 0.26;

        .btn {
            color: $white;
            font-size: 14px;
            letter-spacing: 0.25px;

            &:first-child {
                margin-right: 28px;
            }

            &:last-child {
                font-size: 15px;
                color: $lightRed;
                background: $white;
                font-weight: bold;
                padding: 14px 36px;
                border-radius: 30px;
            }
        }

    }

    &__hero {
        color: $white;
        text-align: center;
        position: relative;
        margin-top: 62px;
        font-family: $overpass;

        h1 {
            font-size: 56px;
            margin: 0;
        }

        p {
            font-size: 18px;
            font-weight: 200;
            letter-spacing: 0.4px;
            margin: 14px auto 42px;
        }

        &__btns {
            font-family: $ubuntu;
            display: flex;
            align-items: center;
            justify-content: center;

            .btn {
                width: 128px;
                height: 45px;
                font-weight: bold;
                border-radius: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 15px;

                &:first-child {
                    background: $white;
                    color: $lightRed;
                    border: 1px solid transparent;
                    margin-right: 16px;
                }

                &:last-child {
                    color: $white;
                    border: 1px solid $white;
                }
            }
        }
    }
}