.header {
    height: 37.2rem;
    position: relative;
    border-bottom-left-radius: 6.5rem;
    background-image: linear-gradient(to bottom, #ff8f70, #ff3d54);

    @include breakpoint-up(large) {
        height: 35.1rem;
        border-bottom-left-radius: 5.75rem;
        background-image: linear-gradient(to right, #ff8f70, #ff3d54);
    }

    .dropdown {
        z-index: 3;
        max-height: 0;
        overflow: hidden;
        list-style: none;
        padding: 0 2.0625rem;
        transition: all 0.3s ease;
    }

    &.open {
        .header__toggle {
            >span:first-child {
                transform: rotate(45deg);
            }

            >span:nth-child(2) {
                opacity: 0;
            }

            >span:last-child {
                transform: rotate(-45deg);
            }
        }
    }

    nav {
        margin: auto;
        display: flex;
        max-width: 66rem;
        position: relative;
        align-items: center;
        padding: 3.4375rem 1.5rem;
        justify-content: space-between;

        @include breakpoint-up(large) {
            padding: 3.375rem 0 3.375rem 0.625rem;
        }
    }

    &__logo {
        flex: 0.15;

        img {
            width: 5rem;

            @include breakpoint-up(large) {
                width: 5.875rem;
            }
        }
    }

    &__links {
        flex: 0.9;

        .list-item {
            position: relative;
            display: inline-block;
            list-style-type: none;

            &:not(:last-child) {
                margin-right: 1.625rem;
            }

            &:hover {
                >a {
                    text-decoration: underline;
                }

                img {
                    transform: rotate(180deg);
                }

                .dropdown {
                    max-height: 18.75rem;
                }
            }

            .dropdown {
                top: 2rem;
                left: -1rem;
                width: 11.25rem;
                position: absolute;
                background: $white;
                border-radius: 0.5rem;
                box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);

                li {
                    margin-top: 1.75rem;
                    margin-bottom: 1.75rem;

                    a {
                        color: $veryDarkBlackBlue;

                        &:hover {
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        a {
            color: $white;
            font-size: 0.875rem;
            letter-spacing: 0.75px;
            text-shadow: 0 0 0.5px $white;

            img {
                margin-left: 3px;
                transition: all 300ms ease-in-out;
            }
        }
    }

    &__btns {
        flex: 0.26;

        .btn {
            color: $white;
            font-size: 0.875rem;
            letter-spacing: 0.25px;

            &:first-child {
                margin-right: 1.75rem;
            }

            &:last-child {
                color: $lightRed;
                font-weight: bold;
                background: $white;
                border-radius: 30px;
                font-size: 0.9375rem;
                padding: 0.875rem 2.25rem;
            }
        }

    }

    &__toggle {
        >span {
            width: 31px;
            height: 2px;
            display: block;
            background-color: $white;
            transform-origin: 4px 1px;
            transition: all 300ms ease-in-out;

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }

    &__menu {
        left: 50%;
        z-index: 1;
        top: 6.75rem;
        background: $white;
        position: absolute;
        border-radius: 5px;
        font-family: $overpass;
        width: calc(100% - 3rem);
        transform: translateX(-50%);
        padding: 2rem 1.625rem 10px;
        box-shadow: 0 0 13px rgba(0, 0, 0, 0.3);

        .list-item {
            list-style: none;
            padding-bottom: 1.25rem;

            a {
                display: flex;
                font-weight: 600;
                align-items: center;
                font-size: 1.0875rem;
                color: $veryDarkBlue;
                justify-content: center;

                img {
                    margin-left: 0.5rem;
                    transition: all 0.3s ease;
                }
            }

            .dropdown {
                margin-top: 1rem;
                border-radius: 5px;
                background: #EFEFF1;

                a {
                    font-size: 15.5px;
                    margin-bottom: 1rem;
                    color: $veryDarkBlue !important;
                }
            }

            .btn {
                width: 8.5rem;
                color: $white;
                margin: 0 auto;
                padding-top: 3px;
                height: 2.8125rem;
                border-radius: 30px;
                font-size: 1rem !important;
                margin-bottom: 0px !important;
                background-image: linear-gradient(to right, #ff8f70, #ff3d54);
            }

            &:hover {
                a {
                    color: $grayishBlue;
                }

                img {
                    transform: rotate(180deg);
                }

                .dropdown {
                    max-height: 18rem;
                    padding: 1.5rem 2.0625rem 0.375rem;
                }
            }
        }

        hr {
            margin-bottom: 1.8rem;
            border: 1px solid #EFEFF1;
        }
    }

    &__hero {
        color: $white;
        text-align: center;
        position: relative;
        padding: 0 1.875rem;
        margin-top: 3.25rem;
        font-family: $overpass;

        @include breakpoint-up(large) {
            padding: 0;
            margin-top: 3.875rem;
        }

        h1 {
            margin: 0;
            font-size: 2.125rem;

            @include breakpoint-up(large) {
                font-size: 3.5rem;
            }
        }

        p {
            font-weight: 200;
            font-size: 1.0625rem;
            letter-spacing: 0.4px;
            margin: 0.9375rem auto 2.9375rem;

            @include breakpoint-up(large) {
                font-size: 1.125rem;
                margin: 0.875rem auto 2.625rem;
            }
        }

        &__btns {
            display: flex;
            align-items: center;
            font-family: $ubuntu;
            justify-content: center;

            .btn {
                display: flex;
                font-size: 1rem;
                width: 8.4375rem;
                height: 2.9375rem;
                font-weight: bold;
                align-items: center;
                border-radius: 30px;
                justify-content: center;

                @include breakpoint-up(large) {
                    width: 8rem;
                    height: 2.8125rem;
                    font-size: 0.9375rem;
                }

                &:first-child {
                    color: $lightRed;
                    background: $white;
                    margin-right: 1rem;
                    border: 1px solid transparent;
                }

                &:last-child {
                    color: $white;
                    border: 1px solid $white;
                }
            }
        }
    }
}